/* 
input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}
label {
  width: 270px;
  height: 60px;
  background: #00bce4;
  box-shadow: 2px 5px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
 */
input:checked + nav {
  position: absolute;
  display: flex;
  background-color: #fafafa;
  flex-direction: column;
}
